<div class="CommentPage">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      
        <h3 class="text-center text-info">Insert your recommondation</h3>
        <div id="Com-selector">
            <label class="text-info">Select one region:</label><br>
            <form #Comm="ngForm" (ngSubmit)="Commdata(Comm.value)" >
                <select name="region"  ngModel>
                  <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
                </select><br>
                
                <label class="text-info">Select one type:</label><br>
                <select name="type" ngModel>
                    <option *ngFor="let type of types" [ngValue]="type">{{type.type}}</option>
                </select><br>

                <label for="place" class="text-info">Place name:
                <input type="text" name="place" id="place" class="form-control" ngModel >
                </label><br>

                <label for="coment" class="text-info" >Comment some informations about the place:
                <input type="text" name="comment" id="comment" class="form-control" ngModel >
                </label><br>
                
                <button type="submit"class="btn btn-primary" >Submit</button>
                
              
              </form>
           </div>
    
    </div>
  </div>
</div>